.MainBody
{
    text-align: center;
}

.WebT
{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 1px;
    border-spacing: 0;
    top: 0;
    margin-top: auto;
    border-style: ridge;
}
.WebTp1
{
    font-size: 50px;
    font-style: Bold;
    color: #000;
}
.WebTp2
{
    font-size: 20px;
    color: #000;
}

